<h1>{{mensagem}}</h1>
<p>Muitos desenvolvedores de jogos iniciam com um space shooter, fácil de programar e divertido de jogar.
  <br>
  Nesse jogo você precisa controlar sua nave contra diversos tipos de inimigos, outras espaçonaves, meteoros e até
  ovnis!
  <br>
  Se divirta atirando contra eles e desviando-se se for necessário.
  Lembre-se que suas vidas são limitadas.
</p>

<div>
  <h2>Preview do jogo</h2>
  <img src="/img/preview_game.png" alt="Preview do jogo" width="600" height="400">
</div>
