{{!-- <h1>{{mensagem}}</h1> --}}

  <div id="space">
      <div id="hud">
        <div id="lives"></div>
        <div id="score">000000</div>
      </div>
    </div>
    <script type="module" src="js/game.js"></script>
